footer {
  width: 100%;
  direction: rtl;
  margin-top: 35px;

  .footer__top {
    height: 65px;
    display: flex;
    padding: 0 20px;
    align-items: start;
    justify-content: space-between;

    .footer__top__right {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .footer__top__right__logo {
        width: 120px;
        height: 30px;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }

      .footer__top__right__address {
        display: flex;
        width: 560px;
        font-size: 12px;
        justify-content: space-between;
        color: var(--text-secondary-color);
        font-family: IranYekan-regular, sans-serif;
      }
    }

    .footer__top__left {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 140px;
      height: 40px;
      font-size: 12px;
      border-radius: 10px;
      border: 1px solid #e1e1e3;

      a {
        color: #a2a3a8;
        text-decoration: none;
        font-family: IranYekan-bold;
      }
    }
  }

  .footer__serveices {
    width: 1325px;
    height: 170px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;

    .footer__services__item {
      display: flex;
      font-size: 11px;
      align-items: center;
      flex-direction: column;
      font-family: IranYekan-regular;
    }
  }

  .footer__center {
    padding: 0 20px;

    hr {
      border: none;
      height: 1px;
      background-color: #f2f2f2;
    }

    .footer__center__category {
      display: flex;
      height: 250px;
      justify-content: space-between;

      .footer__center__category__item {
        display: flex;
        line-height: 40px;
        width: 255px;
        flex-direction: column;
        p {
          font-size: 16px;
          font-family: IranYekan-bold;
          color: var(--text-secondary-color);
        }

        a {
          font-size: 14px;
          color: #82868c;
          text-decoration: none;
          font-family: IranYekan-regular;
        }

        .footer__center__category__item__social__links {
          display: flex;
          height: 60px;
          align-items: center;
          justify-content: space-between;
        }

        p:nth-of-type(2) {
          margin: 10px 0;
        }

        .footer__center__category__item__login {
          display: flex;
          align-items: center;
          justify-content: space-between;
          input[type="email"] {
            outline: none;
            border: none;
            width: 195px;
            height: 49px;
            border-radius: 10px;
            text-indent: 20px;
            background-color: var(--search-bg-color);

            &::placeholder {
              color: #a2a3a8;
              font-size: 15px;
              font-family: IranYekan-regular;
            }
          }

          input[type="button"] {
            outline: none;
            border: none;
            width: 55px;
            height: 48px;
            font-size: 14px;
            color: #ffffff;
            border-radius: 10px;
            background-color: #e1e1e3;
            font-family: IranYekan-regular;
          }
        }
      }
    }

    .footer__center__banner {
      display: flex;
      width: 100%;
      height: 77px;
      padding: 0 20px;
      border-radius: 10px;
      align-items: center;
      margin: 60px auto 20px auto;
      background-color: #3c4b6e;
      justify-content: space-between;

      .footer__center__banner__right {
        display: flex;
        column-gap: 15px;
        align-items: center;

        .footer__center__banner__right__image {
          width: 45px;
          height: 45px;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .footer__center__banner__right__title {
          font-size: 21px;
          color: #ffffff;
          font-family: IranYekan-medium;
        }
      }

      .footer__center__banner__left {
        width: 530px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        img {
          width: 143px;
          height: 43px;

          &:nth-child(4) {
            width: 43px;
            height: 46px;
            border-radius: 5px;
            background-color: #ffffff;
          }
        }
      }
    }

    .footer__center__about {
      display: flex;
      padding: 35px 0;
      align-items: start;
      justify-content: space-between;

      .footer__center__about__text {
        strong {
          font-weight: 400;
          font-size: 21px;
          color: #63676e;
          margin-bottom: 20px;
          font-family: IranYekan-bold, sans-serif;
        }

        p {
          width: 1090px;
          height: 100px;
          font-size: 12px;
          color: #82868c;
          overflow: hidden;
          line-height: 28px;
          margin-top: 5px;
          position: relative;
          font-family: IranYekan-regular, sans-serif;

          &::before {
            content: "";
            width: 100%;
            height: 80px;
            position: absolute;
            left: 0;
            bottom: 0;
            z-index: 2;
            background: linear-gradient(
              to top,
              rgba(255, 255, 255, 1) 10%,
              rgba(255, 255, 255, 0) 100%
            );
          }
        }

        span {
          display: flex;
          align-items: center;

          a {
            color: #19c1d4;
            font-size: 12px;
            text-decoration: none;
            font-family: IranYekan-bold;
          }

          img {
            width: 20px;
            height: 20px;
          }
        }
      }

      .footer__center__about__images__wrapper {
        width: 345px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .footer__center__about__image {
          width: 109px;
          height: 109px;
          padding: 15px;
          border-radius: 8px;
          border: 1px solid #e1e1e3;

          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
      }
    }
  }

  .footer__copyright {
    width: 100%;
    height: 90px;
    font-size: 11px;
    color: #82868c;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: IranYekan-regular, sans-serif;
  }

  .footer__bottom {
    display: flex;
    height: 160px;
    flex-direction: column;
    justify-content: space-around;
    background-color: #f2f2f2;

    .footer__bottom__col__1 {
      height: 80px;
      display: flex;
      align-items: center;
      border-bottom: 1px solid #e1e1e3;

      .footer__bottom__image {
        width: 195px;
        height: 100%;
        display: flex;
        justify-content: center;
        
        &:not(:first-child) {
          border-right: 1px solid #e1e1e3;
        }
      }
    }

    .footer__bottom__col__2 {
      height: 80px;
      display: flex;
      align-items: center;

      .footer__bottom__image {
        width: 222px;
        height: 100%;
        display: flex;
        height: inherit;
        justify-content: center;

        :not(:first-child) {
          border-right: 1px solid #e1e1e3;
        }
      }
    }

    img {
      width: 90px;
    }
  }
}
