.main__top__banner {
  width: 100%;
  height: 65px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--secondary-bg-color);
  background-image: url(../../SVGs/incredibles-banner.svg);
}

.main__top__slider {
  width: 100%;
  height: 150px;
  direction: rtl;
  margin: 20px 0;

  .swiper {
    width: 99%;
    height: 100%;

    .swiper-slide {
      display: flex;
      font-size: 18px;
      text-align: center;
      background: #fff;
      align-items: center;
      justify-content: center;

      &:first-child {
        border-radius: 8px;
        background-color: #f2f2f2;
      }

      .main__top__swiper__item {
        width: 110px;
        height: 130px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: flex-start;

        .main__top__swiper__item__image {
          width: 90px;
          height: 90px;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        p {
          font-size: 12px;
          color: #0d0d0d;
          line-height: 25px;
          text-align: center;
          font-family: IranYekan-regular;
        }
      }
    }
  }
}

.main__interesting__recommends__wrapper,
.main__interesting__recommends__finishing,
.main__interesting__recommends__ordered {
  display: flex;
  width: 100%;
  height: 445px;
  margin: 0 auto;
  align-items: center;
  background-color: #f03c51;

  .swiper {
    width: 100%;
    height: 88%;
    padding-left: 20px;

    .swiper__slide__item.first__child {
      display: flex;
      width: 100%;
      height: 100%;
      row-gap: 20px;
      align-items: center;
      flex-direction: column;
      justify-content: center !important;
      background-color: #f03c51;

      .swiper__slide__item__image__1 {
        width: 120px;
        height: 105px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .swiper__slide__item__image__2 {
        width: 140px;
        height: 145px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    .swiper-slide {
      font-size: 18px;
      display: flex;
      cursor: pointer;
      text-align: center;
      border-radius: 8px;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      background-color: #ffffff;

      .swiper__slide__item {
        width: 100%;
        height: 100%;
        display: flex;
        padding: 10px;
        row-gap: 20px;
        align-items: center;
        flex-direction: column;
        font-family: IranYekan-regular, sans-serif;

        img.ads {
          width: 120px;
          align-self: flex-start;
        }

        .swiper__slide__item__image {
          width: 160px;
          height: 160px;
          padding: 5px;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .swiper__slide__item__description {
          font-size: 12px;
          line-height: 20px;
          text-align: right;
          color: #3f4064;
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          text-shadow: 0 0 1px #3f4064;
          font-family: IranYekan-regular, sans-serif;
        }

        .swiper__slide__item__delivery {
          display: flex;
          column-gap: 5px;
          margin-top: -15px;
          align-items: center;
          align-self: flex-start;
          img {
            width: 20px;
          }

          span {
            font-size: 12px;
            color: #63676e;
          }
        }

        div {
          .swiper__slide__item__bottom {
            width: 100%;
            display: flex;
            align-items: center;

            .swiper__slide__item__bottom__discount {
              span {
                display: block;
                width: 35px;
                height: 20px;
                color: #fff;
                font-size: 14px;
                border-radius: 35px;
                background-color: var(--secondary-bg-color) !important;
              }
            }

            .swiper__slide__item__bottom__price {
              font-size: 14px;
              text-align: left;
              margin-left: 5px;
              margin-right: 50px;
              color: var(--text-secondary-color);
              font-family: IranYekan-medium, sans-serif;

              :nth-child(2) {
                font-size: 12px;
                color: #bec1c4;
                display: block;
                text-decoration: line-through;
              }
            }
          }
        }

        .swiper__slide__item__bottom.no__discount {
          width: 100px;
        }
      }

      .swiper__slide__item.last__child {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        font-size: 14px;
        row-gap: 15px;
        color: var(--text-secondary-color);

        .swiper__slide__item__arrow {
          width: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 50px;
          border: 2px solid #19c1d4;
          border-radius: 50%;
        }
      }
    }

    .swiper-button-next,
    .swiper-button-prev {
      width: 40px;
      height: 40px;
      color: #7a7e85;
      border-radius: 20px;
      background-color: #fff;
      border: 1px solid #e1e1e3;
    }
  }
}

.main__interesting__recommends__finishing,
.main__interesting__recommends__ordered {
  width: 98%;
  margin: 30px auto;
  border-radius: 10px;

  .main__interesting__recommends__wrapper {
    border-radius: inherit;
    border: 1px solid #e1e1e3;
    background-color: #ffffff;
  }
}

.main {
  .main__interesting__banner.first-child,
  .main__interesting__banner.second-child {
    width: 98%;

    .main__interesting__banner__left__item {
      width: 70px;
    }
  }

  .main__interesting__banner.second-child {
    background-color: #991d86;

    .main__interesting__banner__right {
      justify-content: start;

      img.early-access {
        width: 60px;
      }

      .banner__right__details {
        height: 100px;
        width: 300px;
        display: flex;
        row-gap: 10px;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        span {
          background-color: transparent;
        }

        span.bold {
          width: 100%;
          font-size: 20px;
          font-family: IranYekan-extra-bold;
        }
      }
    }

    .main__interesting__banner__left {
      .main__interesting__banner__left__see-all {
        color: #991d86;
      }
    }
  }
}

.all__products {
  width: 98%;
  margin: 0 auto;
  direction: rtl;
  display: flex;
  row-gap: 20px;
  flex-direction: column;

  span.title {
    font-size: 16px;
    font-family: IranYekan-bold;
  }

  .products__wrapper {
    display: flex;
    height: 4200px;
    position: relative;

    .sidebar__wrapper {
      position: sticky;
      top: 90px;
      width: 19%;
      height: 630px;
      border-radius: 8px;
      padding: 25px;
      background-color: #ffffff;
      border: 1px solid #e1e1e3;
      color: var(--text-secondary-color);
      font-family: IranYekan-bold, sans-serif;

      .sidebar__wrapper__top {
        font-size: 20px;
      }

      .sidebar__wrapper__main {
        display: flex;
        margin-top: 20px;
        flex-direction: column;

        .sidebar__wrapper__main__item {
          font-size: 15px;
          margin: 10px 0;
          display: flex;
          align-items: center;
          padding-bottom: 20px;
          justify-content: space-between;

          .sidebar__wrapper__main__item__right {
            span.sub-detail {
              font-size: 14px;
              color: #82868c;
              font-family: IranYekan-regular;
            }
          }

          &:not(:last-child) {
            border-bottom: 1px solid #e1e1e3;
          }

          .sidebar__wrapper__main__item__left {
            .toggle {
              width: 40px;
              height: 20px;
              display: block;
              position: relative;
              border-radius: 100px;
              border: 2px solid #82868c;

              .toggle-ball {
                width: 11px;
                height: 11px;
                left: 3px;
                display: block;
                position: absolute;
                border-radius: 50%;
                top: calc(50% - 11px / 2);
                background-color: #82868c;
              }
            }
          }
        }
      }
    }

    .products__wrapper__items {
      width: 89%;
      display: grid;
      padding: 10px;
      gap: 1px;
      grid-template-rows: repeat(100, 500px);
      grid-template-columns: repeat(4, 305px);
      
      .product {
        
        .swiper__slide__item {
          width: 100%;
          height: 100%;
          display: flex;
          padding: 10px;
          row-gap: 20px;
          transition: 100ms;
          align-items: center;
          flex-direction: column;
          background-color: #ffffff;
          border: 1px solid #f2f2f2;
          font-family: IranYekan-regular, sans-serif;

          &:hover {
            box-shadow: rgba(0, 0, 0, 0.24) 0px 0px 8px;
          }
          
          img.ads {
            width: 120px;
            align-self: flex-start;
          }

          .swiper__slide__item__image {
            width: 200px;
            height: 250px;
            padding: 5px;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }

          .swiper__slide__item__description {
            font-size: 12px;
            line-height: 20px;
            text-align: right;
            color: #3f4064;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            text-shadow: 0 0 1px #3f4064;
            font-family: IranYekan-regular, sans-serif;
          }

          .swiper__slide__item__delivery {
            width: 100%;
            display: flex;
            column-gap: 5px;
            margin-top: 10px;
            align-items: center;
            align-self: flex-start;
            justify-content: space-between;

            img {
              width: 20px;
            }

            span {
              font-size: 12px;
              color: #63676e;
            }
          }

          .swiper__slide__item__bottom__wrapper {
            width: 100%;

            .swiper__slide__item__bottom {
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: space-between;

              .swiper__slide__item__bottom__discount {
                span {
                  display: block;
                  width: 35px;
                  height: 20px;
                  color: #fff;
                  font-size: 14px;
                  border-radius: 35px;
                  margin-left: 120px;
                  text-align: center;
                  background-color: var(--secondary-bg-color) !important;
                }
              }

              .swiper__slide__item__bottom__price {
                font-size: 14px;
                text-align: left;
                margin-left: 5px;
                margin-right: 50px;
                color: var(--text-secondary-color);
                font-family: IranYekan-medium, sans-serif;

                :nth-child(2) {
                  display: block;
                  font-size: 12px;
                  color: #bec1c4;
                  margin-top: 10px;
                  text-decoration: line-through;
                }
              }
            }
          }

          .swiper__slide__item__bottom.no__discount {
            width: 100px;
            
          }
        }
      }
    }
  }
}
