.main__first__slider {
  width: 85%;
  height: 140px;
  margin: 15px auto;

  .swiper {
    width: 100%;
    height: 100%;

    .swiper-slide {
      display: flex;
      font-size: 18px;
      background: #fff;
      text-align: center;
      align-items: center;
      justify-content: center;

      .swiper-slide__story {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;

        .swiper-slide__image {
          width: 85px;
          height: 85px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          background: linear-gradient(315deg, #e03d96, #7d4c9e);

          .swier-slide__image__bg {
            width: 81px;
            height: 81px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #fff;

            img {
              width: 93%;
              height: 93%;
              object-fit: cover;
              border-radius: inherit;
            }
          }
        }

        .swiper-slide__description {
          width: 80px;
          font-size: 11px;
          line-height: 24px;
          font-family: IranYekan-regular, sans-serif;
          color: var(--text-story--color);
          overflow: hidden;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
        }
      }
    }
  }
}
